.table {
  width: 100%;
  table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      padding: 0.75rem;
      text-align: left;
    }
    th {
      border-bottom: 2px solid #dee2e6;
    }
    td {
      border-top: 1px solid #dee2e6;
    }
  }
}