.panel {
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  position: relative;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.05);


  .panelHeader,
  .panelBody,
  .panelFooter {
    padding: 1rem;
    position: relative;
  }

  .panelBody::before {
    height: 1px;
    position: absolute;
  }

  .panelTitle {
    color: #232323;
    font-size: 1.1rem;
    font-weight: 600;
  }
}
