@import './variables';

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-Regular.ttf');
}

* {
  outline: none !important;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $font-color;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.DateRangePicker_picker__portal {
  z-index: 150;
}